body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  font-weight: lighter;
  line-height: 1.6;
}

h2 {
  color: #66BFBF;
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Acme', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Acme', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

p {
  font-family: 'Acme', sans-serif;
  color: #40514E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  border-color: orange;
  border-style: none;
  border-bottom-style: solid;


}

.cat {
  text-decoration: underline;
}

/*.sushi {
  position: absolute;
  right: 10%;
  bottom: 300px;
  width: 20%;
  height: 20%;
} */
.dorani {
  width: 25%;
  height: 25%;
  padding: 50px;
}

.skill-row {
  margin: 10% ;
  line-height: 2;
  text-align: left;
  width: 70%;
}

.croissants {
  float: left;
  margin: auto 30px;
  width: 180px;
}

.watercolor {
  float: left;
  margin: auto 30px;
  width: 180px;
}

.weck {
  float: left;
  margin: auto 30px;
  width: 180px;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

/*.melon {
    position: absolute;
    right: 10%;
    bottom: 50px;
    width: 20%;
    height: 20%;
  } */
.profile {
  margin-bottom: 70px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.BUTTON_KDM {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  border: solid #337FED 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_KDM:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright{
  color:#EAF6F6;
  fontsize: 0.75rem;
  padding: 20px 0 0 0;
}
